input { // Input settings
    keyboard { // Keyboard settings
        xkb {
           layout "us,ru" // Available languages
           options "grp:alt_shift_toggle" // Switch language key
        }
        repeat-delay 285 // Wait 285ms before repeat starts
        repeat-rate 40 // Write 40 symbols per second
    }
    touchpad { // Notebook touchpad
        off // comment this to enable
        tap // enable finger tap
    }   
    mouse { // Mouse settings
        // off
        accel-speed -0.4 // Mouse speed
        accel-profile "flat" // Mouse profile
    }
}
output "HDMI-A-1" { // Monitor output. Type "niri msg outputs" to check
    // off
    mode "1920x1080@143.998" // Monitor resolution
    scale 1.0 // Workspace scale
    transform "normal" // Normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270
    position x=0 y=0 // Virtual space of your monitors. Necessary if you have 2+ monitors
}

layout {
    gaps 8 // Gaps between windows
    center-focused-column "never" // Center focus window: never, always and more
    preset-column-widths { // Column width function (MOD + R)
        proportion 0.50000 // 0.5
        proportion 0.66667 // 0.6
        proportion 1.00000 // 1.0
    }
    default-column-width { proportion 0.5; } // Default window startup width, or {}
    focus-ring { // Focus window customization (REPLACED by border MODULE)
        off // Comment this line to enable
        width 2 // Focus ring width
        active-color "grey" // Active color
        inactive-color "#505050" // Inactive color
    }
    border { // Window border customization
        // off
        width 4 // Border width
        active-color "grey" // Active window color
        inactive-color "383838" // Inactive window color
        // urgent-color "383838" // Color of the border around windows
    }
    shadow { // Window shadows
        off // Disabled by default
        softness 30 // Blur radius
        spread 5 // Expands shadow
        offset x=0 y=5 // Shadow shift relative to the window 
        color "#0007" // Default shadow color
    }
}
spawn-at-startup "waybar" // Open waybar at startup
spawn-at-startup "swaync" // Open notification center at startup
spawn-sh-at-startup "nvibrant 0 0 0 0 612" // Digital intensity
spawn-at-startup "awww-daemon" // Open desktop wallpaper daemon at startup
spawn-sh-at-startup "awww img ~/.config/wallhaven.png" // Set wallpaper.png to daemon

hotkey-overlay {
    skip-at-startup // switch off hotkey tips after startup
}
prefer-no-csd // no window decorations
screenshot-path "~/images/screen %Y-%m-%d %H-%M-%S.png" // or null

animations {
    // off
}

window-rule {
    geometry-corner-radius 8 // Window corner
    clip-to-geometry true // Corner smooth
}

binds {
    Ctrl+Grave { spawn "kitty"; } // Open terminal
    Ctrl+4 { spawn-sh "kitty yamusic-tui"; } // Open yandex music terminal
    Ctrl+3 { spawn-sh "kitty concord"; } // Open discord terminal
    Ctrl+2 { spawn "Telegram"; } // Open telegram
    Ctrl+1 { spawn "firefox"; } // Open firefox browser
    Ctrl+Alt+Space    allow-when-locked=true { spawn-sh "playerctl play-pause"; } // Music Play-Pause
    Ctrl+Alt+L        allow-when-locked=true { spawn-sh "playerctl previous"; } // Previous track
    Ctrl+Alt+H        allow-when-locked=true { spawn-sh "playerctl next"; } // Next track
    Mod+W repeat=false { toggle-overview; } // Zoom 
    Shift+C repeat=false { close-window; } // Close window
    Mod+H     { focus-column-left; } // Window switch left
    Mod+J     { focus-window-down; } // Window sswitch down
    Mod+K     { focus-window-up; } // Window switch up
    Mod+L     { focus-column-right; } // Window switch right
    Shift+H     { move-column-left; } // Window move left
    Shift+J     { move-window-down; } // Window move down
    Shift+K     { move-window-up; } // Window move up
    Shift+L     { move-column-right; } // Window move right
    Alt+J           { focus-workspace-down; } // Workspace switch down
    Alt+K           { focus-workspace-up; } // Workspace switch up
    Alt+1 { focus-workspace 1; } // Workspace focus 1 
    Alt+2 { focus-workspace 2; } // Workspace focus 2
    Shift+1 { move-column-to-workspace 1; } // Move window to workspace 1
    Shift+2 { move-column-to-workspace 2; } // Move window to workspace 1
    Mod+R { switch-preset-column-width; } // Switch window proportion ->
    Mod+Shift+R { switch-preset-column-width-back; } // Switch window proportion <-
    F11 { maximize-window-to-edges; } // Maximize window

    Print { screenshot; } // Screenshot
    Alt+Print { screenshot-screen; } // Full Screenshot
    Mod+Shift+S { screenshot-window; } // Window Screenshot
    // Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // brightnessctl for notebooks
    // XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    // XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }
    Mod+Q { quit; } // Niri shutdown
}
